button {
  height: 48px;
  min-height: 48px;
  line-height: 48px;
  vertical-align: top;

  width: 48px;
  padding: 0 0px;
  border-radius: 8px;
  border-color: black;
  background-color: white;
  align-items: center;
  justify-content: center;
}
